aiohttp
aiosignal
aiosqlite
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
ci-info
click
colorama
configobj
configparser
cryptography
databases
dataclasses-json
etelemetry
faiss-cpu
fastapi
filelock
fitz
frozenlist
fsspec
greenlet
h11
httplib2
huggingface-hub
idna
isodate
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
looseversion
lxml
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
nibabel
nipype
numpy
orjson
packaging
pandas
pathlib
pdfminer.six
pillow
prov
pycparser
pydantic
pydantic_core
pydot
PyMuPDF
PyMuPDFb
pyparsing
python-dateutil
python-multipart
pytz
pyxnat
PyYAML
rdflib
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
simplejson
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
traits
transformers
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
yarl
